<html>
<head>
<title>Data Collection Dashboard</title>
</head>
<body>
<table border=2 bordercolor="#0000FF">
<tr><td colspan="2">
<h1 align="center" color="#00FFFF">Data Collection Dashboard</h1>
</td></tr>
<tr><td>
<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1186703/charts/1?bgcolor=%23ffffff&color=%23F62020&dynamic=true&results=15&type=line&update=15"></iframe>
</td>
<td><iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1186703/charts/2?bgcolor=%23ffffff&color=%23F62020&dynamic=true&results=15&type=line&update=15"></iframe>
</td></tr>
<tr><td>
<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1186703/charts/3?bgcolor=%23ffffff&color=%23F62020&dynamic=true&results=15&type=line&update=15"></iframe>
</td>
<td>
<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1186703/charts/4?bgcolor=%23ffffff&color=%23F62020&dynamic=true&results=15&type=line&update=15"></iframe>
</td>
</html>